#element
snippet ele
	${1:elementName}: {
	    get: function () { return ${2:$}('${3:selector}'); }
	},${0}

#pageFunction
snippet pf
	${1:pageFunction}: {
	    value: function (${2:args}) {
	        ${0}
	    }
	},
